In [1]:
import yfinance as yf

In [8]:
def past_data(symbol):
    symb = yf.Ticker(symbol+'.NS')
    print(symbol + '.NS')
    data = symb.history(period='1y')

    return data

In [9]:
past_data('SBIN')

SBIN.NS

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2019-08-14  285.05  291.25  284.50  289.75   18523649          0             0
2019-08-16  287.95  292.80  284.30  290.90   20047399          0             0
2019-08-19  292.00  292.40  286.00  286.85   19831459          0             0
2019-08-20  287.30  287.40  280.65  283.70   23204417          0             0
2019-08-21  285.50  285.60  276.30  277.40   28226325          0             0
...            ...     ...     ...     ...        ...        ...           ...
2020-08-10  191.85  195.50  191.70  193.80   48784530          0             0
2020-08-11  195.00  196.80  193.75  195.05   43890305          0             0
2020-08-12  196.00  204.25  194.60  203.30  157818228          0             0
2020-08-13  205.50  207.30  200.75  201.90   70443118          0             0
2020-08-14  203.00  204.00  194.60  196.50   56144386          0             0

[246 rows x 7 columns]

In [1]:
import streamlit as st

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

2020-08-16 16:18:04.989 INFO    matplotlib.font_manager: generated new fontManager

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()